section {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--green-300);
  color: var(--branco);

  padding: 1.5rem;

  font-size: 1.5rem;

  border-radius: 0.4rem
}
