section {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 100%;

    padding: 1rem;

    font-size: 1rem;
    text-align: center;

    border-radius: 0rem;

    color: var(--branco);
  }


  .__green {
    background: var(--green-300) !important;
  }

  .__red {
    background: var(--red-300) !important;
  }


}




