<main>
  <search-form (emmitSearch)="getSearch($event)"></search-form>
  <div *ngIf="!transactionsSearch.length" class="enpty-transactions">
    <h1>Não foi encontrada nenhuma transação até o momento!</h1>
  </div>
  <table *ngIf="transactionsSearch.length">
    <tbody>
      <tr *ngFor="let transaction of transactionsSearch">
        <td>{{ transaction.description }}</td>
        <td [ngClass]="{'in-come': transaction.type === 'income', 'out-come': transaction.type === 'outcome'}">{{ transaction.type === 'income' ? transaction.price : '-'+transaction.price }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.createdAt | date:'dd/MM/yyyy' }}</td>
        <td><mat-icon (click)="getTransactionToUpdate(transaction)">edit</mat-icon></td>
        <td><mat-icon (click)="deleteTransaction(transaction._id!)">delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
</main>
