:host {
  main {
    width: 100%;
    max-width: 1120px;
    margin: 4rem auto 0;
    padding: 0 1.5rem;

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 0.5rem;
      margin-top: 1.5rem;
      color: var(--branco);

      td {
        padding: 1.25rem 2rem;
        background: var(--gray-700);


        &:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }

        &:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }

    .in-come {
      color: var(--green-300);
    }

    .out-come {
      color: var(--red-300);
    }
  }
}
