* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--green-500);
}

body {
  background-color: var(--green-800);
  color: var(--green-100);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font: 400 1rem Roboto, sans-serif;
}
