@import '../../../config-scss/rem-calc.scss';

:host {
	header {
    background: var(--gray-700);
    padding: 2.5rem 0 7.5rem;
	}
  .container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1.5rem;

    display: flex;
    justify-content: space-between;

    .headerLogo {
      gap: 2rem;
    }
    .navigationButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .mat-icon {
        -webkit-user-select: none;
        user-select: none;
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 24px;
        width: 24px;
        overflow: hidden;
        color: var(--gray-100);
        cursor: pointer;

        margin-right: 1rem;
      }
    }
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    align-items: center;

    button {
      height: 50px;
      border: 0;
      background: var(--green-500);
      color: var(--branco);
      font-weight: bold;
      padding: 0 1.25rem;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: var(--green-700);
        transition: background-color 0.2s;
      }
    }
  }
}


// export const HeaderContainer = styled.header`
//   background:var(--gray-800);;
//   padding: 2.5rem 0 7.5rem;
// `

// export const HeaderContent = styled.div`

// `

// export const NewTransactionButton = styled.button`

// `
