<main>
  <div class="container">
    <a routerLink="/"><mat-icon>west</mat-icon></a>
    <h1>Descrição do projeto</h1>
    <p>Este projeto de transações financeiras foi desenvolvido utilizando Angular CLI 16.X. Ele oferece a funcionalidade de salvar transações financeiras, permitindo a definição se são do tipo entrada ou saída. Além disso, proporciona recursos de edição, exclusão e listagem das transações. No âmbito do Angular, foram aplicados conceitos básicos à avançados, tais como:</p>
    <ul>
      <li><strong>Data Binding:</strong> Sincronização eficiente de dados entre a interface do usuário e o modelo.</li>
      <li><strong>Environments:</strong> Ambientes configurados para diferentes estágios de desenvolvimento.</li>
      <li><strong>Services para Injeção de Dependências:</strong> Utilização de serviços para uma gestão eficaz de dependências.</li>
      <li><strong>HttpClient e Observable:</strong> Integração com APIs através do HttpClient e observáveis para tratamento de assincronia</li>
      <li><strong>Diretivas Estruturais e de Atributos:</strong> Manipulação dinâmica da estrutura e do estilo dos componentes.</li>
      <li><strong>Pipes:</strong> Transformação de dados para apresentação.</li>
      <li><strong>Modularização e Componentização:</strong> Organização do projeto em módulos e componentes reutilizáveis.</li>
      <li><strong>TypeScript:</strong> Linguagem de programação tipada para desenvolvimento mais robusto.</li>
      <li><strong>Comunicação de Dados entre Componentes:</strong> Troca eficiente de informações entre diferentes partes da aplicação.</li>
      <li><strong>Reactive Forms com Validators:</strong> Utilização de formulários reativos para validação dinâmica.</li>
      <li><strong>Roteamento:</strong> Navegação entre diferentes seções da aplicação.</li>
      <li><strong>Getters de Funções para Clean Code:</strong> Utilização de boas práticas para um código limpo e legível.</li>
      <li><strong>Snackbar para Alertas e Modal:</strong> Exibição de alertas e modais para uma experiência do usuário mais amigável.</li>
      <li><strong>Reducers e Maps:</strong> Manipulação eficaz de estados e coleções de dados.</li>
      <li><strong>Interceptors:</strong> Exibição de erro para melhor funcionamento da aplicação caso haja um erro do lado do dervidor ou do cliente.</li>
      <li><strong>Lint:</strong>Para identificar e corrigir problemas no código-fonte.</li>
    </ul>
    <p><br>Um projeto desenvolvido com dedicação e paixão!<br><strong>Dev Mais Ágeis</strong></p>
  </div>
</main>
